#middleone {
    width: 65%;
    background-color: white;
    height: 100vh;
    overflow: hidden;
    padding-right: .5cm;
    padding-left: .5cm;
    border-right: 1px solid #ccc;
}


#middleone:hover,
#middleone:active,
#middleone:focus {
    overflow-y: scroll;
}

.custom-height {
    /* min-width: 50%; */
    height: 100px;
    margin-bottom: 1cm;

    /* background-color: hsl(291, 76%, 77%); */
}

.storyhorizont {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    /* overflow: hidden; */
    margin-top: .5cm;
}
/* .storyhorizont:hover,
.storyhorizont:active,
.storyhorizont:focus {
    overflow-x: scroll;
} */

.content {
    /* border: 1px solid black; */
    position: relative;
}

.Storydabba {
    height: 80px;
    width: 80px;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
    /* background-color: blue; */
    /* color: black; */
    position: relative;
    box-shadow: 1px 1px 1px black;
    background-color: black;

}

.InnerStorydabba {
    position: absolute;
    left:3.2%;
    top: 2.8%;
    height: 75px;
    width: 75px;
    border: 1px solid black;
    border-radius: 50%;
    background: white;
    overflow: hidden;
}

.storyName {
     padding-left: -.5cm;
    position: absolute; 
    bottom:-.35cm;
    left:15px;
    background: #000; 
}

/* POST PART------------------------------------------------------------------- */
/* a {
    text-decoration: none !important;
    color: white !important;
} */
.PostContents {
    width: 80%;
    margin-top: 3cm;
    margin: auto;
    border: 1px solid #0000000b;
    border-radius: 20px;
    background: white;
    box-shadow: 1px 1px 10px #ccc;
    padding: 10px 20px;
    background: black;
    color: white;
}

.PostkaCirclecover {
    padding: 5px 7px 5px 12px;
    /* background-color: green; */
}

.PostkaCircle {
    /* display: none; */
    height: 35px;
    width: 35px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px #ccc;
    border-radius: 80%;
    display: inline-block;
    /* background-color: orange; */
    position: relative;
 
}

.PostkaInnerCircle {
    display: inline-block;
    position: absolute;
    left: 4.8%;
    top: 6%;
    height: 30px;
    width: 30px;
    border: 1px solid black;
    border-radius: 80%;
    background-color: white;

}
.PostkaInnerCircle img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.Content b {
    color: yellow;
    background-color: aqua;
}

.mv {
    font-size: 12px;
}

.sn {
    line-height: 12px;

}

.post_icons_image {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 7px; */
    flex-direction: row;
}

.postImage {
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    padding-left: 30px;
    justify-content: center;
}

.postImage img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 28px;

}

.post_icons {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (max-width: 767.98px) {
    .custom-height {
        max-width: 100%;
        height: 90px;
    }
}

@media (max-width: 576px) {
    .custom-height {
        max-width: 100%;
        height: 90px;
    }
}