{% extends 'sideNav.html' %}
{% load static %}
{% block start %}
    <div class="container">
        <div class="row">
            <div class="col-8  mx-auto text-center mt-5">
                
                    <input type="text" name="searchdata" id="search" class="p-2 w-100" style="border-radius: 15px;">
                    <div class="sbox w-100">
                        <div class="text-start py-4 w-100 res d-flex flex-column">
                        </div>
                    </div>
                <ul class="bg-secondary"></ul>
            </div>
        </div>
    </div>
{% endblock %}
